.container {
    display: grid;
    grid-template-columns: 0.38fr 1.5fr;
    grid-template-rows: 0.9fr 1.5fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Navigation album-profile-header"
      "Navigation song-list"
      "Navigation more-album";
    background-color: #121212;
  }

.Navigation {
    grid-area: Navigation;
}
.song-list {
    grid-area: song-list;
    margin: 0 3rem;
    color: #737b7b;
    height: 100%;

}
ol {
    padding: 0;
}

#delete-img {
    height: 16px;
    width: 16px;
}
.delete-song {
    border: none;
    background: none;
    cursor: pointer;
}
.each-song-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.each-song{
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
}
.each-song:hover {
    background-color: #383838;

}
#song-column {
    border-bottom: solid 1px #737b7b;
}
.album-profile-header {
    grid-area: album-profile-header;
    background-color: #2b2b2b;
    height: 260px;
    display: flex;
    align-items: center;


}
#album-image {
    margin: 0 1rem;
}
#album-title {
    color: white;
    font-size: 64px;
}
.more-album {
     grid-area: more-album;
}
.edit-album {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 173px;
    width: 173px;
    left: 21.3%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.edit-album:hover {
    opacity: .75;
    background-color: #2b2b2b;
}
.crud-btn {
    position: absolute;
    right: 1rem;
    top: 30%
}
#delete-album-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;

}


/* .song-container {

    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.album-profile-header {
    background-color: #2b2b2b;
    width: 80%;
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: row;
    height: 260px;
    align-items: center;


}
.song-list {
    width: 80%;
    position: fixed;
    right: 0px;
}

#album-image {
    margin-left: 1rem;
}
#album-title {
    color: white;
    font-size: 64px;
    margin-left: 1rem;
} */
/* .crud-btn {
    display: flex;
    justify-content: space-evenly;
} */
