img {
    height: 173px;
    width: 173px;
}
/* .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    background-color: white;
    width: 65%;
    height: 100vh;
} */

.content-container {
    background: white;
    width: 65%;
    margin: 0 auto;
}
.user-albums {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul {
    list-style: none;
}
