.form-container {
    margin: 0 auto;
    background-color: white;
    width: 50%;
}

.login-area {
    max-width: 90%;
}

.login-form {
    max-width: 500px;
    padding: 2rem;
    border-radius: 5px;

}
.login-inputs{
    display: block;
    margin: 1rem;
}

.login-btn {
    text-align: center;

}
