/* .form-container {
    margin: 0 auto;
    background-color: white;
}

.song-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 2rem;

}
.song-title {
    display: block;
}
.song-url{
    display: block;
} */
.upload-wrapper {
    position: relative;
    top: 20%;
    left: 5%;
}
.song-form {
    display: flex;
    flex-direction: column;
}
.form-container {
    height: 50vh;
    border-radius: 5px;
    padding: 3rem;
    width: 30vw;

}
