.form-container {
    margin: 0 auto;
    background-color: white;
}

.signup-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 2rem;

}
.signup-email, .signup-username, .signup-password, .signup-confirm{
    display: block;
    margin: 1rem;
}

.signup-btn{
    text-align: center;

}
