/* header {
    grid-area: header;
    width: 100vw;
    font-weight: 100;
    background-color: #333;
    font-size: 14px;
    line-height: 1.5;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
} */

.top-nav-bar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;

}
#home-btn {
    font-size: 30px;
    color: #dcdcdc8f;
    margin-left: 1rem;
}


a.header__navMenuItem, a.header__navMenuItem:visited {
    text-decoration: none;
    color: #dcdcdc8f;

}

.header__navMenuItem {
    display: block;
    padding: 12px 0;
    height: 46px;
    box-sizing: border-box;
    padding-left: 1rem;
}

.headerBtn li {
    display: inline-block;
    list-style-type: none;

}

.headerBtn {
    display: inline-flex;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 2rem;
    color: #ccc;
}

.profile-dropdown {
    position: absolute;
    top: 33px;
    right: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    backdrop-filter: blur(0.2);
    border: 1px solid #212121;
    color: #dcdcdc8f;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
}
.profile-dropdown a {
    text-decoration: none;
    color: #dcdcdc8f;
}
.profile-dropdown li {
    margin: .25rem;
    width: 100%
}
.profile-dropdown li:hover {
    margin: .25rem;
    background-color: #383838;
}
.profile-dropdown button {
    background: none;
    border: none;
    color: #dcdcdc8f;
    font-size: 16px;
}

.profile {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 20px;
    width: 10%;
    height: 1.5rem;
    font-size: 16px;
}

#uploadBtn {
    color: #f50;
}
li a.header__navMenuItem {
    text-decoration: none;
}
li a.header__navMenuItem:hover {
    transition-duration: .5s;
    color: white;
}

.headerBtn li {
    margin: .5rem;
}

a.active {
    background-color: #383838;
}
